<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="c:\temp\internal-nlog.txt">	 
	
	<targets>
		<target name="database" xsi:type="Database"
			connectionString="data source=DESKTOP-JP1EMFR;initial catalog=NLogDB;Integrated Security=true;Connect Timeout=30;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False"
			commandText="INSERT INTO [TcLogs](Level,Message,LogDate,Exception, CallSite, Trace,Logger) VALUES (@level,@messsge,getutcdate(),@exception,@callSite,@trace,@logger)">
			<parameter name="@level" layout="${level}" />
			<parameter name="@messsge" layout="${message}" />
			<parameter name="@exception" layout="${exception:tostring}" />
			<parameter name="@callSite" layout="${callsite:filename=true}" />
			<parameter name="@trace" layout="${trace}" />
			<parameter name="@logger" layout="${logger}" />
		</target>
	</targets>
	<rules>
		<logger name="*" minlevel="Trace" writeTo="database" />
	</rules>
</nlog>